<form action=""  [formGroup]="paidStatusGroup" (ngSubmit)="submit()">

        <div class="col-xl-6 col-sm-6">
            <div class="form-group mt-3 mt-sm-0">
                <label>Paid status</label>
                <input type="text" formControlName="paidStatus"  class='form-control' value={{status}}>
            </div>
        </div>
        <div class="col-xl-6 col-sm-6">
            <div class="form-group mt-3 mt-sm-0">
                <button>Save</button>
            </div>
        </div>
</form>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mt-0 mb-1">Paid Status</h4>
                <p class="sub-header">
                </p>

                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Paid status</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr mdbTableCol *ngFor="let el of paidStatusList">
                            <th scope="row">{{el.id}}</th>
                            <td>{{el.paidStatus}}</td>
                            <td><button (click)="deletePaidStatus(el.id)">Delete</button>
                                <button (click)="editPaidStatus(el.id, el.paidStatus)">Edit</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>



