<form action="" [formGroup]="paymentTypeGroup" (ngSubmit)="submit()" >

        <div class="col-xl-6 col-sm-6">
            <div class="form-group mt-3 mt-sm-0">
                <label>Payment method</label>
                <input type="text" formControlName="paymentMethod" class='form-control'  value={{method}} >
            </div>
        </div>
        <div class="col-xl-6 col-sm-6">
            <div class="form-group mt-3 mt-sm-0">
                <button>Save</button>
            </div>
        </div>
</form>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mt-0 mb-1">Payment Methods</h4>
                <p class="sub-header">
                </p>

                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Payment Method</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr mdbTableCol *ngFor="let el of paymentMethodList">
                            <th scope="row">{{el.id}}</th>
                            <td>{{el.paymentMethod}}</td>
                            <td><button (click)="deletePaymentMethod(el.id)">Delete</button>
                                <button (click)="editPaymentMethod(el.id, el.paymentMethod)">Edit</button></td>
                        </tr>
<!--                        <tr>-->
<!--                            <th scope="row">1</th>-->
<!--                            <td>Payment method1</td>-->
<!--                            <td><button>Delete</button><button>Edit</button></td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <th scope="row">2</th>-->
<!--                            <td>Payment method2</td>-->
<!--                            <td><button>Delete</button><button>Edit</button></td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <th scope="row">3</th>-->
<!--                            <td>Payment method3</td>-->
<!--                            <td><button>Delete</button><button>Edit</button></td>-->
<!--                        </tr>-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>


