<form action="" [formGroup]="jobStatusGroup" (ngSubmit)="submit()" >
    <div>
        <div class="col-xl-6 col-sm-6">
            <div class="form-group mt-3 mt-sm-0">
                <div ng-hide="isNewStatus" class="ng-hide"></div>
                <label>Job status</label>
                <input type="text" formControlName="jobStatus" class='form-control'  value={{status}} >
            </div>
        </div>

        <div class="col-xl-6 col-sm-6">
            <div class="form-group mt-3 mt-sm-0">
                <button type="submit" >Save</button>
            </div>
        </div>
    </div>
</form>

        <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mt-0 mb-1">Job status</h4>
                <p class="sub-header">
                </p>

                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Job status</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr mdbTableCol *ngFor="let el of jobStatusList">
                            <th scope="row">{{el.id}}</th>
                            <td>{{el.jobStatus}}</td>
                            <td><button (click)="deleteJobStatus(el.id)">Delete</button>
                                <button (click)="editJobStatus(el.id, el.jobStatus)">Edit</button></td>
                        </tr>

                        <!--    id={el.id}}                    <tr>-->
<!--                            <th scope="row">1</th>-->
<!--                            <td>Job status1</td>-->
<!--                            <td><button>Delete</button><button>Edit</button></td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <th scope="row">2</th>-->
<!--                            <td>Job status2</td>-->
<!--                            <td><button>Delete</button><button>Edit</button></td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <th scope="row">3</th>-->
<!--                            <td>Job status3</td>-->
<!--                            <td><button>Delete</button><button>Edit</button></td>-->
<!--                        </tr>-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>




