<form action=""  [formGroup]="subTypeGroup" (ngSubmit)="submit()">

    <div class="col-xl-6 col-sm-6">
        <div class="form-group mt-3 mt-sm-0">
            <label>Sub Type</label>
            <input type="text" formControlName="subTypeName"  class='form-control' value={{status}}>
        </div>
    </div>
    <div class="col-xl-6 col-sm-6">
        <div class="form-group mt-3 mt-sm-0">
            <button>Save</button>
        </div>
    </div>
</form>
<div class="col-lg-6">
    <div class="card">
        <div class="card-body">
            <h4 class="header-title mt-0 mb-1">Sub Types</h4>
            <p class="sub-header">
            </p>

            <div class="table-responsive">
                <table class="table mb-0">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Sub Type</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr mdbTableCol *ngFor="let el of subTypeList">
                        <th scope="row">{{el.id}}</th>
                        <td>{{el.name}}</td>
                        <td><button (click)="deleteSubJobType(el.id)">Delete</button>
                            <button (click)="editSubJobType(el.id, el.name)">Edit</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>



